.switcher {
  background: transparent;
  font-size: 11px;
  color: white;
  border-style: none;
  display: inline;
  margin: 0;
  outline: none;
}

.switcher :active, .switcher :hover {
  outline: none;
}

.switcher option {
  background: #86d13e;
  border-style: none;
}