@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body {
  margin: 0;
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif; }

#container {
  position: relative;
  display: flex;
  margin: auto;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; }
  #container #content, #container #nav {
    margin: 5px; }
  #container #activeNetwork {
    background: transparent;
    font-size: 11px;
    color: white;
    border-style: none;
    display: inline;
    margin: 0;
    outline: none; }
    #container #activeNetwork :active, #container #activeNetwork :hover {
      outline: none; }
    #container #activeNetwork option {
      background: #86d13e;
      border-style: none; }
  #container .ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #add108;
    border-radius: 100%; }
  #container .ring-1 {
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite; }
@keyframes loadingD {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
  #container input {
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 1px;
    align-self: center;
    padding: 5px;
    margin-bottom: 10px; }
  #container select {
    margin-top: 5px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 1px;
    align-self: center;
    padding: 5px; }
  #container #nav #menu-items button {
    font-size: 16px;
    color: white;
    border: none;
    background-color: transparent;
    outline: #73BC2D; }
  #container #networkStatus {
    font-size: 11px; }
  #container .content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto; }
  #container #content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #container #content button {
      display: block;
      background: #86d13e;
      border-style: none;
      border-radius: 4px;
      color: white;
      padding: 5px;
      min-width: 100px;
      align-self: center;
      margin: 10px auto;
      outline: #86d13e; }
  #container #loginModalContent {
    word-wrap: break-word;
    overflow: hidden;
    width: 250px !important; }
  #container .mockup {
    position: relative;
    background: #f9f9f9;
    margin: auto;
    width: 310px;
    height: 550px;
    overflow: hidden; }
    #container .mockup #loginModalContent {
      width: 100%; }
    #container .mockup .bubble-menu {
      position: absolute;
      width: 43px;
      height: 43px;
      background: #86d13e;
      z-index: 500;
      border-radius: 50%;
      bottom: 20px;
      right: 20px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer; }
      #container .mockup .bubble-menu:hover {
        filter: brightness(85%); }
      #container .mockup .bubble-menu .material-icons {
        color: white;
        line-height: 43px;
        font-size: 17px; }
    #container .mockup .top {
      position: relative;
      height: 75px;
      width: 100%;
      z-index: 50;
      transition: height 0.3s;
      box-shadow: 0px 2px 25px -15px rgba(0, 0, 0, 0.3);
      background: #86d13e;
      will-change: height;
      margin-bottom: 20px;
      overflow: hidden; }
      #container .mockup .top .status {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 20px;
        overflow: hidden; }
        #container .mockup .top .status ul {
          width: 100%;
          list-style: none;
          margin: 0;
          padding: 0;
          letter-spacing: -1em; }
          #container .mockup .top .status ul li {
            display: inline-block;
            position: relative;
            width: 27%;
            margin: 0;
            padding: 5px 10px;
            letter-spacing: normal;
            text-align: center;
            color: white;
            font-size: 9px; }
            #container .mockup .top .status ul li .alarm {
              font-size: 12px;
              padding-left: 4px;
              position: absolute; }
            #container .mockup .top .status ul li .data {
              font-size: 12px;
              position: absolute;
              left: 16px; }
          #container .mockup .top .status ul .battery {
            text-align: right; }
          #container .mockup .top .status ul .clock {
            text-align: left; }
      #container .mockup .top .menu {
        position: relative;
        width: 100%;
        height: 50px;
        display: inline-block; }
        #container .mockup .top .menu .selection {
          display: flex;
          width: 40%;
          height: 100%;
          position: absolute;
          right: 0; }
          #container .mockup .top .menu .selection .liselect {
            width: 33px;
            height: 3px;
            background: white;
            position: absolute;
            bottom: -1px; }
          #container .mockup .top .menu .selection ul {
            list-style: none;
            margin: 0;
            padding-left: 20px; }
            #container .mockup .top .menu .selection ul li {
              display: inline-block;
              padding: 0px 10px;
              margin: 0px 0px;
              color: white;
              cursor: pointer; }
              #container .mockup .top .menu .selection ul li .material-icons {
                line-height: 48px;
                font-size: 20px; }
              #container .mockup .top .menu .selection ul li:hover {
                background: rgba(255, 255, 255, 0.08);
                transition: all 0.3s; }
        #container .mockup .top .menu .sotto-menu {
          display: flex;
          position: absolute;
          width: 50%;
          height: 100%; }
          #container .mockup .top .menu .sotto-menu .burger {
            width: 50px;
            height: 50px;
            text-align: center;
            cursor: pointer;
            border-radius: 50%; }
            #container .mockup .top .menu .sotto-menu .burger:hover {
              background: rgba(255, 255, 255, 0.05);
              transition: background 0.4s; }
            #container .mockup .top .menu .sotto-menu .burger .material-icons {
              line-height: 50px;
              color: white; }
          #container .mockup .top .menu .sotto-menu .today-label::after {
            content: 'NeoLink';
            display: block;
            font-size: 20px;
            padding: 1px 0px;
            color: white; }
      #container .mockup .top .calendar {
        width: 100%;
        height: 100%;
        display: block; }
        #container .mockup .top .calendar .day {
          width: 37%;
          height: 100%;
          display: inline-block;
          float: left; }
          #container .mockup .top .calendar .day .days-plan {
            position: relative;
            display: inline-table;
            text-align: center;
            width: 100%;
            padding-top: 10px; }
            #container .mockup .top .calendar .day .days-plan .day-plan {
              margin: 0;
              padding: 0;
              color: white;
              font-size: 11px; }
          #container .mockup .top .calendar .day .circle-cont {
            position: relative;
            margin: auto;
            width: 72px;
            height: 72px;
            margin-top: 30%;
            background: #86d13e;
            border-radius: 50%;
            text-align: center;
            display: table; }
            #container .mockup .top .calendar .day .circle-cont .circle-date {
              color: rgba(255, 255, 255, 0.8);
              font-size: 12px;
              font-weight: 500;
              padding: 0;
              margin: 0;
              display: table-cell;
              vertical-align: middle; }
              #container .mockup .top .calendar .day .circle-cont .circle-date span {
                font-size: 32px;
                font-weight: 300;
                display: block;
                color: white; }
        #container .mockup .top .calendar .month {
          position: relative;
          display: inline-block;
          float: left;
          width: 63%;
          padding-top: 10px; }
    #container .mockup .content-cont {
      position: relative;
      display: inline-block;
      width: 100%;
      height: calc(100% - 95px);
      background: #f9f9f9; }
      #container .mockup .content-cont .card {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: width 0.3s; }
        #container .mockup .content-cont .card .plan-card {
          position: relative;
          width: 90%;
          height: 60px;
          padding: 10px 0;
          background: white;
          border-radius: 5px;
          margin: auto;
          box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.03);
          margin-bottom: 17px;
          overflow: hidden; }
          #container .mockup .content-cont .card .plan-card .card-info {
            float: left;
            width: 25%;
            height: 100%;
            border-right: 2px solid rgba(0, 0, 0, 0.04);
            text-align: center; }
            #container .mockup .content-cont .card .plan-card .card-info .date {
              padding: 4px 0;
              margin: 0;
              font-size: 12px;
              color: rgba(0, 0, 0, 0.5);
              font-weight: 600; }
              #container .mockup .content-cont .card .plan-card .card-info .date span {
                display: block;
                font-size: 9px;
                padding-top: 6px; }
            #container .mockup .content-cont .card .plan-card .card-info .urgent {
              font-size: 8px;
              color: rgba(0, 0, 0, 0.25);
              font-weight: 600; }
              #container .mockup .content-cont .card .plan-card .card-info .urgent span {
                font-size: 10px;
                color: #86d13e; }
          #container .mockup .content-cont .card .plan-card .card-plans {
            float: left;
            width: 74%;
            height: 100%; }
            #container .mockup .content-cont .card .plan-card .card-plans .todo {
              margin: 0;
              padding: 4px 10px;
              font-size: 8px;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.4);
              line-height: 13px; }
              #container .mockup .content-cont .card .plan-card .card-plans .todo span {
                font-size: 10px;
                display: block;
                color: rgba(0, 0, 0, 0.6); }
        #container .mockup .content-cont .card .card-container {
          display: flex;
          flex-direction: column;
          align-self: center;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 90%;
          height: auto;
          background: white;
          border-radius: 5px;
          margin: auto;
          box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.03); }
          #container .mockup .content-cont .card .card-container .card-title {
            padding: 10px 15px;
            margin: 0;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 400; }
          #container .mockup .content-cont .card .card-container .card-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 5px 20px; }
            #container .mockup .content-cont .card .card-container .card-content li {
              position: relative;
              font-size: 10px;
              padding: 8px 0px; }
              #container .mockup .content-cont .card .card-container .card-content li .roundhead {
                width: 25px;
                height: 25px;
                float: left;
                border-radius: 50%;
                margin-right: 10px;
                z-index: 100;
                text-align: center; }
                #container .mockup .content-cont .card .card-container .card-content li .roundhead i {
                  line-height: 25px;
                  color: white;
                  font-size: 13px; }
              #container .mockup .content-cont .card .card-container .card-content li .secondo {
                display: block;
                font-size: 9px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.2); }
              #container .mockup .content-cont .card .card-container .card-content li .card-info {
                position: absolute;
                right: 0;
                top: 0;
                padding: 7px 0;
                margin: 0;
                font-size: 10px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.6);
                text-align: center; }
                #container .mockup .content-cont .card .card-container .card-content li .card-info .up-priority {
                  display: block;
                  font-weight: 300;
                  font-size: 8px;
                  color: rgba(0, 0, 0, 0.3); }
      #container .mockup .content-cont .social {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        margin-left: 100%;
        background: #f9f9f9; }
        #container .mockup .content-cont .social .social-card {
          position: relative;
          width: 90%;
          height: 45px;
          padding: 10px 0;
          background: white;
          border-radius: 5px;
          margin: auto;
          box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, 0.03);
          margin-bottom: 15px;
          overflow: hidden; }
          #container .mockup .content-cont .social .social-card .material-icons {
            position: absolute;
            padding: 5px;
            top: 0;
            right: 0;
            color: rgba(0, 0, 0, 0.3);
            font-size: 15px;
            cursor: pointer; }
          #container .mockup .content-cont .social .social-card .profimg {
            position: relative;
            width: 25%;
            height: 100%;
            float: left; }
            #container .mockup .content-cont .social .social-card .profimg img {
              position: absolute;
              width: 40px;
              border-radius: 50%;
              margin: auto;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              -webkit-filter: grayscale(30%) hue-rotate(10deg) brightness(115%) contrast(60%);
              filter: grayscale(30%) hue-rotate(20deg) brightness(115%) contrast(60%); }
          #container .mockup .content-cont .social .social-card .social-cont {
            position: relative;
            width: 60%;
            height: 100%;
            float: left; }
            #container .mockup .content-cont .social .social-card .social-cont p {
              font-size: 9px;
              color: rgba(0, 0, 0, 0.6);
              margin: 0;
              padding: 4px 0px; }
              #container .mockup .content-cont .social .social-card .social-cont p .social-title {
                font-size: 10px;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 600;
                display: block; }
        #container .mockup .content-cont .social .bottommenu {
          width: 100%;
          height: 50px;
          background: white;
          box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.06);
          position: absolute;
          bottom: 0; }
          #container .mockup .content-cont .social .bottommenu ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            font-size: 0;
            height: 50px; }
            #container .mockup .content-cont .social .bottommenu ul li {
              display: inline-block;
              padding: 0;
              margin: 0;
              text-align: center;
              width: 25%;
              cursor: pointer; }
              #container .mockup .content-cont .social .bottommenu ul li:hover {
                background: rgba(0, 0, 0, 0.02); }
              #container .mockup .content-cont .social .bottommenu ul li:active {
                background: rgba(0, 0, 0, 0.1); }
              #container .mockup .content-cont .social .bottommenu ul li .material-icons {
                line-height: 50px;
                color: rgba(0, 0, 0, 0.35);
                font-size: 20px; }

.weekdays {
  margin: 0;
  padding: 5px 0; }

.weekdays li {
  display: inline-block;
  width: 11%;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 10px; }

/* Days (1-31) */
.days {
  padding: 5px 0;
  margin: 0; }

.days li {
  color: #DDD;
  list-style-type: none;
  display: inline-block;
  width: 11%;
  text-align: center;
  margin-bottom: 2px;
  font-size: 10px; }

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.17);
  color: white !important; }

.nav__input {
  z-index: -1000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none; }

.rad {
  z-index: -1000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none; }

.nav__input:checked ~ .mockup #tendina {
  height: 170px;
  transition: height 0.3s; }

#rad1:checked ~ .mockup .selection .liselect {
  left: 23px;
  transition: left 0.3s; }

#rad2:checked ~ .mockup .selection .liselect {
  left: 68px;
  transition: left 0.3s; }

#rad2:checked ~ .mockup .bottommenu {
  transform: scale(1);
  transition: transform 0.12s ease-out 0.12s; }

#rad1:checked ~ .mockup .bottommenu {
  transform: scale(0);
  transition: transform 0s ease-out; }

#rad2:checked ~ .mockup .content-cont {
  margin-left: -100%;
  transition: all 0.3s; }

#rad1:checked ~ .mockup .content-cont {
  margin-left: 0px;
  transition: all 0.3s; }

#rad2:checked ~ .mockup .bubble-menu {
  transform: scale(0);
  transition: transform 0.2s ease-in; }

#rad1:checked ~ .mockup .bubble-menu {
  transform: scale(1);
  transition: transform 0.2s ease-out; }

#rad2:checked ~ .mockup .map .point {
  transform: scale(0); }

#rad1:checked ~ .mockup .map .point {
  animation: bounce-in 0.4s ease-in-out 0.27s forwards; }

#rad2:checked ~ .mockup #tendina .today-label::after {
  content: 'Social Plan'; }

#rad1:checked ~ .mockup #tendina .today-label::after {
  content: 'NeoLink'; }

@keyframes bounce-in {
  70% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

/*# sourceMappingURL=popup.css.map */
